* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #3a3a3a;
}

header {
    height: 120px;
    width: 100%
}

#about-us {
    height: 900px;
    width: 100%;
    background-color: #fff;
    padding-top: 75px;
}

#food-and-drinks-menu {
    height: 1350px;
    width: 100%;
    background: url(../images/pexels-fwstudio-172289.jpg) no-repeat;
    background-size: cover;
    padding-top: 75px;
}

#book-a-table {
    height: 900px;
    width: 100%;
    background-color: rgb(199, 168, 66);
}

#footer {
    height: 1200px;
    width: 100%;
    background-color: rgb(153, 56, 137);
}

/* logo */

#logo {
    color: #94B49F;
    letter-spacing: 3px;
    font-size: 300%;
    text-align: center;
}

#logo-subtitle {
    font-size: 1em;
    color: #DF7861;
    letter-spacing: 3px;
    text-align:center;
}

#logo-wrapper {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

/* nav menu */

#nav-menu {
    font-size: 150%;
    letter-spacing: 3px;
    float: right;
    line-height: 120px;
    margin: 0;
}

#nav-menu li {
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    color: #3a3a3a;
    margin-right: 75px;
}

#nav-menu a {
    text-decoration: none;
    color: #3a3a3a;
}

#nav-menu a:hover {
    text-decoration: underline;
}

/* hero section and cta button */

#hero-image {
    height: 100%;
    width: 100%;
    background: url('../images/hero-image-pexels-daria-shevtsova-704569.jpg') no-repeat center center;
    background-size: cover;

    /* animates hero image on loading */
    animation: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

#hero-wrapper {
    height:750px;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

#book-table-button {
    width: 300px;
    height: 75px;
    background-color: #DF7861;
    color: #fff;
    font-size: 150%;
    bottom: 75px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 #3a3a3a;
}


/* animation for hero image zoom */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* about us section elements */

#about-us h2 {
    text-align: center;
}

.about-us-card {
    height: 600px;
    width: 450px;
    background-color: #94B49F;
    box-shadow: 0 10px 20px #3a3a3a;
    margin: auto;
    text-align: center;
}

.about-us-card h3 {
    font-size: 175%;
    color: #fff;
    position:relative;
    top: 50%;
    transform: translateY(-50%);
}

#card-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: auto;
    padding-top: 100px;
}

#fresh-card {
    background: url('../images/pexels-adonyi-gábor-1414642.jpg') no-repeat;
    background-size: cover;
}

#organic-card {
    background: url('../images/pexels-markus-spiske-1268101.jpg') no-repeat 40%;
    background-size: cover;
}

#vegetarian-card {
    background: url('../images/pexels-pixabay-248420.jpg') no-repeat;
    background-size: cover;
}

/* food and drinks menu section elements */

/* .tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    background: #000;
    display: inline-block;
    color: #fff;
}

.tab-content {
    background: #fff;
    min-height: 200px;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    padding: 20px;
}

.menu-content {
    display: none;
    animation: fadein .8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.radio {
    display: none;
}

#breakfast-menu:checked ~ .tab-content #breakfast-menu-content,
#brunch-menu:checked ~ .tab-content #brunch-menu-content,
#drinks-menu:checked ~ .tab-content #drinks-menu-content, {
    background: #fffffff6;
    color: #000;
} */

.wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .tab{
    cursor: pointer;
    padding:10px 20px;
    margin:0px 2px;
    background:#000;
    display:inline-block;
    color:#fff;
    border-radius:3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
  }
  .panels{
    background:#fffffff6;
    box-shadow: 0 2rem 2rem #00000080;
    height:900px;
    width:100%;
    max-width:600px;
    border-radius:3px;
    overflow:hidden;
    padding:20px;
    background: url(../images/paper-texture.jpg)
  }
  .panel{
    display:none;
    animation: fadein .8s;
  }
  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  .panel-title{
    font-size:1.5em;
    font-weight:bold
  }
  .radio{
    display:none;
  }
  #one:checked ~ .panels #one-panel,
  #two:checked ~ .panels #two-panel,
  #three:checked ~ .panels #three-panel{
    display:block
  }
  #one:checked ~ .tabs #one-tab,
  #two:checked ~ .tabs #two-tab,
  #three:checked ~ .tabs #three-tab{
    background:#fffffff6;
    color:#000;
    border-top: 3px solid #000;
  }