* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #3a3a3a;
}

header {
    height: 120px;
    width: 100%
}

#about-us {
    height: 900px;
    width: 100%;
    background-color: #fff;
}

#food-and-drinks-menu {
    height: 1350px;
    width: 100%;
    background-color: rgb(131, 31, 39);
}

#book-a-table {
    height: 900px;
    width: 100%;
    background-color: rgb(199, 168, 66);
}

#footer {
    height: 1200px;
    width: 100%;
    background-color: rgb(153, 56, 137);
}

/* logo */

#logo {
    color: #94B49F;
    letter-spacing: 3px;
    font-size: 300%;
    text-align: center;
}

#logo-subtitle {
    font-size: 1em;
    color: #DF7861;
    letter-spacing: 3px;
    text-align:center;
}

#logo-wrapper {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

/* nav menu */

#nav-menu {
    font-size: 150%;
    letter-spacing: 3px;
    float: right;
    line-height: 120px;
    margin: 0;
}

#nav-menu li {
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    color: #3a3a3a;
    margin-right: 75px;
}

#nav-menu a {
    text-decoration: none;
    color: #3a3a3a;
}

#nav-menu a:hover {
    text-decoration: underline;
}

/* hero section and cta button */

#hero-image {
    height: 100%;
    width: 100%;
    background: url('../images/hero-image-pexels-daria-shevtsova-704569.jpg') no-repeat center center;
    background-size: cover;

    /* animates hero image on loading */
    animation: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

#hero-wrapper {
    height:750px;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

#book-table-button {
    width: 300px;
    height: 75px;
    background-color: #DF7861;
    color: #fff;
    font-size: 150%;
    bottom: 75px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 #3a3a3a;
}


/* animation for hero image zoom */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}